.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 90vh;
    padding-right: 5vw;
    padding-top: 5vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5vw;
}
